<template>
  <div class="home">
    <ul>
      <v-row>
        <v-col cols="12">
          <h4>Todos los clientes</h4>
          <li v-for="list in Lista">
            Name: {{ list.Name }} - Id: {{ list.Id }} - Age: {{ list.Age }}</li>
        </v-col>
      </v-row>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Clientes",
  data() {
    return {
      Lista: [],
    };
  },
  components: {},
  created() {
    fetch("http://localhost:3000/buyers")
      .then((response) => response.json())
      .then((data) => (this.Lista = data.allBuyers));
  },
  methods: {
    Consultar(id) {
      console.log(id);
    }
  }
};
</script>
