<template>
  <div>
    <h3>Buscar cliente</h3>
    <v-row>
      <v-col cols="4">
        <h4>Por id</h4>
        <v-text-field label="Id" v-model="id"></v-text-field>
        <v-btn color="blue" v-on:click="ConsultarId">Consultar</v-btn>
      </v-col>
    </v-row>
    <ul>
      <v-row>
        <v-col cols="3">
          <h4>Comprador</h4>
          <li v-for="list in ListaC">Id: {{ list.Id }}   -   Name: {{ list.Name }}   -   Age: {{ list.Age }} </li>
          <li v-for="list in ListaIps">Ip: {{ list.Ip }}</li>
        </v-col>
        <v-col cols="3">
          <h4>Compras desde esa ip</h4>
          <li v-for="list in ListaOtros">
            {{ list.Id }} - {{ list.Name }} - {{ list.Age }}</li>
        </v-col>
        <v-col cols="3">
          <h4>Productos comprados</h4>
          <li v-for="list in ListaP">Productos: {{ list.ProductsId }} </li>
        </v-col>
      </v-row>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Principal",
  data() {
    return {
      id: null,
      ListaT: [],
      ListaC: [],
      ListaP: [],
      ListaIps: [],
      ListaOtros: [],
    };
  },
  methods: {
    ConsultarId: function (event) {
      fetch("http://localhost:3000/buyers/" + this.id)
        .then((response) => response.json())
        .then((data) => {
        this.ListaT = data.transfers;
        this.ListaC = data.buyers;
        this.ListaP = data.product;
      });
      fetch("http://localhost:3000/ips/" + this.id)
        .then((response) => response.json())
        .then((data) => {
        this.ListaIps = data.buyer;
        this.ListaOtros = data.otherBuyers;
      });
    },
  },
};
</script>