<template>
  <div>
    <h1>Compras de la fecha:</h1>
    <div id="container">
      <v-date-picker
        v-model="fecha"
        color="green lighten-1"
        header-color="blue"
        min="2020-08-01"
        max="2020-08-06"
        elevation="5"
        hint="YYYY-MM-DD format"
      ></v-date-picker>
    </div>
    <v-btn color="blue" v-on:click="Consultar">Consultar</v-btn>
    <div>
      <ul>
      <v-row>
        <v-col cols="5">
          <h4>Transferencias</h4>
          <li v-for="list in ListaT">
            {{ list.Transferid }} - {{ list.BuyerId }} - {{ list.Ip }} - {{ list.Device }} - {{ list.Date }}</li>
        </v-col>
        <v-col cols="4">
          <h4>Compradores</h4>
          <li v-for="list in ListaC">Id: {{ list.Id }}   -   Name: {{ list.Name }}   -   Age: {{ list.Age }} </li>
        </v-col>
      </v-row>
    </ul>
  </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Principal",
  data() {
    return {
      fecha: null,
      ListaT: [],
      ListaC: []
    };
  },
  methods: {
    Consultar: function (event) {
      fetch("http://localhost:3000/" + this.fecha)
        .then((response) => response.json())
        .then((data) => {
        this.ListaT = data.transfers;
        this.ListaC = data.buyers;
      });
    },
  },
};
</script>