<template>
  <div class="home">
    <h2>Compras en la fecha actual</h2>
    <ul>
      <v-row>
        <v-col cols="5">
          <h4>Transferencias</h4>
          <li v-for="list in ListaT">
            {{ list.Transferid }} - {{ list.BuyerId }} - {{ list.Ip }} - {{ list.Device }} - {{ list.Date }}</li>
        </v-col>
        <v-col cols="4">
          <h4>Compradores</h4>
          <li v-for="list in ListaC">Id: {{ list.Id }}   -   Name: {{ list.Name }}   -   Age: {{ list.Age }} </li>
        </v-col>
      </v-row>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      ListaT: [],
      ListaC: [],
    };
  },
  components: {},
  created() {
    fetch("http://localhost:3000/2020-08-06")
      .then((response) => response.json())
      .then((data) => {
        this.ListaT = data.transfers;
        this.ListaC = data.buyers;
      });
  },
};
</script>
