<template>
  <v-app>
    <v-app-bar app color="blue" dark>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />
        <h2>Compras</h2>
      </div>
      <v-spacer></v-spacer>
    </v-app-bar>
    <v-main>
      <div>
        <router-link to="/">Fecha Actual</router-link> | 
        <router-link to="/clientes">Todos los clientes</router-link> |
        <router-link to="/principal">Consultar por fecha</router-link> |
        <router-link to="/cliente">Buscar cliente</router-link>
      </div>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: "App",

  components: {
  },

  data: () => ({
    //
  }),
};
</script>
